

<h1 class="mt-5">{{title}}</h1>
<p>About me-page</p>
<p>Hii guys myself koustav Singha Roy.I am full stack web developer.</p>
<p>I have below technical skills kindly go through it</p>
<ul style=>
<li>HTML</li>
<li>CSS</li>
<li>JAVASCRIPT</li>
<li>MONGO DB</li>
<li>EXPRESS</li>
<li>NODE JS</li>
<li>ANGULAR JS</li>
<li>C</li>
<li>JAVA</li>
<li>DBMS</li>

</ul>