
<h1 class="mt-5">{{title}}</h1>

    <p>Time avalibility for calling 9 am to 8 pm.</p>
    <ul style="list-style-type:none">
        <li>Email-id:koustav33@gmail.com</li>
        <li>Phone-no:8334977224</li>
   </ul>


