

<h1 class="mt-5">{{title}}</h1>
<p>This page is about my project</p>
<ul style="list-style-type:none">
<li>Image changer</li>
<li>Number guessing game</li>
<li>Animated Box</li>
<li>My portfolio</li>
<li>Silly story generator</li>
</ul>
